.edit_org_profile_display_container {
	margin-top: 10%;
	margin-bottom: 5rem;
	margin-left: auto; 
	margin-right : auto;
	width: 85rem;
}

.edit_org_profile_container {
	display: inline-block;
	width: 40rem;
	margin-left: 10rem;
}

.circle_edit_org_profile_image {
	border-radius: 50%;
	width: 250px;
	height: 250px;
	min-height: 100%;
}

.edit_org_pic {
	margin: 1rem;
}

.contactNumberShown {
	width: 328px;
}

.edit_profile_picture_modal {
	position: relative;
    display: table; /* This is important */ 
    overflow-y: auto;    
    overflow-x: auto;
}

.edit_org_profile_container {
	position: relative;
	display: inline-block;
	width: 40rem;
	margin-left: 51%;
}

.edit_org_profile_save {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	width: 22rem;
}

.edit_org_picture_btn {
	position: absolute;
	margin-top: 5%;
}

.edit_org_picture_container {
	display: inline-block;
	position: absolute;
}

img {
	max-width: 100%;
}

.image_container {
	width: auto;
	height: 500px;
	border: 1px dotted;
	background-color: rgba(162, 151, 151, 0.44);
}

.cropped_result {
	background-color: rgba(162, 151, 151, 0.44);
	border: 1px dotted;
    margin: 5% auto;
    width: 20vw;
    height: 19vw;
}

.image_cropper_btns {
	display: table;
	margin-left: auto;
	margin-right: auto;
	width: 15rem;
	margin-top: 4%;
}

.btn_text {
	color: white;
}

.btn_text:hover {
	color: white;
	text-decoration: none;
}

.image_container {
	margin-left: auto;
	margin-right: auto;
}

.intl-tel-input .country-list {
	width: 540%;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; lef
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../../../img/Pacman.gif) center no-repeat #fff;
}