@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

#sortableToDo, #sortableInProgress, #sortableDone {
    border: 1px solid #eee;
    width: 30%;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
    background: #fff;
    margin-top: 2rem;
  }
  #sortableToDo li, #sortableInProgress li, #sortableDone li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: auto;
    background: #fff;
  }
  
  .project-management-container{
  margin-top: 10rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: 20%;
}

.kanban-header{
	text-align: center;
	font-size: 1.3em;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	height: 3rem;
	border-bottom: 3px solid orange;
	margin-bottom: 1rem;
}

#sortable1 li, #sortable2 li, #sortable3 li {
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1.2em;
	width: 120px;
}

.side-calendar-container{
	width: 40rem;
	height: 30rem;
	background: #fff;
	padding: 3rem;
	
}

.full-calendar-container{
	width: 100%;
	padding: 3rem;
	background: #fff;
}

.project-management-container .nav-tabs > li > a {
	color: #313a46;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
}

.project-management-container .tabs-bordered > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-justified > li.active > a{
	color: #1ea69a;
	margin-bottom: -1px;
	border-bottom: 2px solid #1ea69a !important;
	border-left: none;
	border-right: none;
	border-top: none;
	
}

.project-management-container .tabs-bordered{
	border-bottom: 2px solid rgba(152, 166, 173, 0.2) !important;
}

.project-management-container .nav-tabs .nav-justified{
	width: 100%;
}

.side-menu{
	width: 20%;
    z-index: 10;
    background: #ffffff;
    bottom: 0;
    margin-top: 0;
    padding-bottom: 30px;
    position: fixed;
    top: 3.5em;
    border-left: 1px solid #e2e2e2;
    right: 0;
}

#sidebar-menu{
	padding-top: 10px;
}

#wrapper{
	height: 100%;
    overflow: hidden;
    width: 100%;
}

#sidebar-menu .menu-title{
	padding: 12px 20px !important;
    letter-spacing: .05em;
    pointer-events: none;
    cursor: default;
    font-size: 11px;
    text-transform: uppercase;
    color: #98a6ad;
    font-family: 'Source Sans Pro', sans-serif;
}

#sidebar-menu .btn-primary {
	color: #348cd4 !important;
	border: 2px solid #348cd4 !important;
	padding: 2px 10px !important;
    height: 2em;
    border-radius: 2em;
    font-size: 8pt;
	float: right;
	margin-right: 1em;
	margin-top: -2.8em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

#sidebar-menu .btn-primary:hover{
	color: #fff !important;
	background: #348cd4 !important;
}

#sidebar-menu .btn-bordered{
	background: transparent !important;
}