.publish_update_container {
	margin: 10% auto;
	width: 70%;
	background: #fff;
	padding-left: 3em;
	padding-right: 3em;
	padding-bottom: 3em;
}

.update_post_title {
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: 16pt;
	height: 2em;
}

.publish_button {
	outline: none;
	height: 40px;
	text-align: center;
	width: 15em;
	border-radius: 40px;
	background: #fff;
	border: 2px solid #1ECD97;
	color: #1ECD97;
	letter-spacing: 1px;
	text-shadow: 0;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.25s ease;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 1em;
	text-transform: uppercase;
}

.publish_button:hover{
	color: white;
	background: #1ECD97;
}

.publish_button:active{
	letter-spacing: 2px;
}

.publish_button:after{
	content: "SUBMIT";
}

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width:3px;
  font-size:0;
  border-left-color: #1ECD97;
  animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
    content:"";
}
  
.onclic:hover {
    color:#1ECD97;
    background: white;
}

.validate {
  font-size:13px;
  color: white;
  background: #1ECD97;
}
.validate:after {
    font-family:'FontAwesome';
    content:"\f00c";
}

@keyframes rotating {
  from { 
  transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}