.font_labels {
	white-space: nowrap;
}

.edit_profileField {
	width: 26rem;
}

.edit_ind_profile_display_container {
	margin-top: 8%;
	margin-bottom: 5rem;
	margin-left: auto; 
	margin-right : auto;
	width: 85rem;
}

.circle_edit_ind_profile_image {
	border-radius: 50%;
	width: 250px;
	height: 250px;
	min-height: 100%;
}

.edit_profile_picture_modal {
	position: relative;
    display: table; /* This is important */ 
    overflow-y: auto;    
    overflow-x: auto;
}

.edit_ind_profile_container {
	position: relative;
	display: inline-block;
	width: 40rem;
	margin-left: 53%;
}

.edit_indi_profile_save {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	width: 20rem;
}

.edit_indi_profile_picture_btn {
	position: absolute;
	margin-top: 5%;
}

.edit_indi_picture_container {
	display: inline-block;
	position: absolute;
}

img {
	max-width: 100%;
}

.image_container {
	width: auto;
	height: 500px;
	border: 1px dotted;
	background-color: rgba(162, 151, 151, 0.44);
}

.cropped_result {
	background-color: rgba(162, 151, 151, 0.44);
	border: 1px dotted;
    margin: 5% auto;
    width: 20vw;
    height: 19vw;
}

.image_cropper_btns {
	display: table;
	margin-left: auto;
	margin-right: auto;
	width: 15rem;
	margin-top: 4%;
}

.btn_text {
	color: white;
}

.btn_text:hover {
	color: white;
	text-decoration: none;
}

.image_container {
	margin-left: auto;
	margin-right: auto;
}

.edit_indi_profile_save {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	width: 23rem;
	text-align: center;
}

.edit_indi_profile_confirm {
	width: 175px;
	height: 65px;
	margin: 20px auto;
	border-radius: 4px;
	border: 1px solid transparent;
	background-color: #5cb85c;
	border-color: #5cb85c;
}

.edit_indi_profile_confirm_text {
	color: white;
	display: block;
	padding-top: 22px;
	text-align: center;
	line-height: 1em;
}