.font_labels {
	white-space: nowrap;
}

.edit_profileField {
	width: 26rem;
}

.edit_ind_profile_display_container {
	margin-top: 8%;
	margin-bottom: 5rem;
	margin-left: auto; 
	margin-right : auto;
	width: 85rem;
}

.circle_edit_ind_profile_image {
	border-radius: 50%;
	width: 250px;
	height: 250px;
	min-height: 100%;
}

.edit_profile_picture_modal {
	position: relative;
    display: table; /* This is important */ 
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;   
}

.edit_ind_profile_container {
	position: relative;
	display: inline-block;
	width: 40rem;
	margin-left: 53%;
}

.edit_indi_profile_save {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	width: 20rem;
}

.edit_indi_profile_picture_btn {
	position: absolute;
	margin-top: 5%;
}

.edit_indi_picture_container {
	display: inline-block;
	position: absolute;
}