img {
	max-width: 100%;
}

.image_container {
	width: auto;
	height: 500px;
	border: 1px dotted;
	background-color: rgba(162, 151, 151, 0.44);
}

.cropped_result {
	border: 1px dotted;
    margin: 5% auto;
    width: 30vw;
    height: 30vw;
}

.image_cropper_btns {
	display: table;
	margin-left: auto;
	margin-right: auto;
	width: 15rem;
	margin-top: 4%;
}

.btn_text {
	color: white;
}

.setup_profile_picture {
	margin-top: 8%;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.image_container {
	margin-left: auto;
	margin-right: auto;
}

.edit_indi_profile_save {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	width: 23rem;
	text-align: center;
}

.edit_indi_profile_confirm {
	width: 175px;
	height: 65px;
	margin: 20px auto;
	border-radius: 4px;
	border: 1px solid transparent;
	background-color: #5cb85c;
	border-color: #5cb85c;
}

.edit_indi_profile_confirm_text {
	color: white;
	display: block;
	padding-top: 22px;
	text-align: center;
	line-height: 1em;
}

.icons {
	font: none;
}